#cont{
    height:960px;
}
#Input{
    position: absolute;
    right: 100px;
    top: 23px;
}
.container {
    text-align: center;
    width: 1090.8px;
    margin: auto;
    padding: auto;
    flex-shrink: 0;
    height: auto;
}
#MainCover{
    position: relative;
    height: 300px;
    width: 220px;
    float: left;
    top: 100px;
    right: 3%;
    box-shadow: 5px 5px 8px;
    border-radius: 5px;
}
#GameTitle{
    font-size: 40px;
    position: absolute;
    top: -134px;
    color: rgb(197, 229, 240);
    text-shadow: 2px 2px 4px black;
    text-align: left;
    line-height: 42px;
    font-family: 'PT Serif Caption', serif;
}
#LSTitle, #SimGamesTitle{
    font-family: 'Fjalla One', sans-serif;
}
#Platforms{
    position: absolute;
    font-size: 18px;
    top: 85px;
    line-height: 22px;
    text-shadow: 1.5px 1.5px 3px black;
}
#ReleaseDate{
    position: absolute;
    font-size: 26px;
    color: rgb(197, 229, 240);
    text-shadow: 2px 2px 4px black;
    text-align: left;
    font-family: 'Reem Kufi', sans-serif;
    width: 300px;
}
#Summary{
    color: darkgrey;
    text-align: left;
    margin: auto;
    text-shadow: 0.5px 0.5px black;
    position: relative;
    top: 100px;
    font-family: 'Karma', serif;
    max-height: 430px;
    overflow: auto;
}
#carouselExampleControls{
    position: relative;
    bottom: 120px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px black;
}
#Twitch{
    position: relative;
    bottom: 9px;
}
#LS{
    width: 400px;
    float: left;
    position: relative;
    left: -15px;
    box-shadow: 5px 5px 8px black;
}
#LSTitle{
    font-size: 35px;
    border-bottom: 3px solid  rgb(197, 229, 240);
    position: relative;
    bottom: 35px;
}
#Similar{
    height: 300px;
    width:220px;
    box-shadow: 5px 5px 8px black;
    border-radius: 5px;
}
#SimGamesTitle{
    position: relative;
    top: -35px;
    border-bottom: 3px solid  rgb(197, 229, 240);
    font-size: 35px;
}
#SimilarGames{
    width: 220px;
    position: absolute;
    top: 595px;
    left: 298px;
    z-index: 1;
}
#CText{
    font-size: 20px;
    color: white;
    background: rgba(0,0,0,.5);
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    font-family: 'Karma', serif;
}

.jumbotron {
    padding: 0.5em 0.6em;
    margin: 0;
}

img {
    max-width: 100%;
    width: auto;
}

.navbar {
    padding: 0em 0.6em;
    display: flex;
    justify-content: center;
    width: 1090.8px;
    height: 100px;


}

p {
    color: orange;
    text-align: center;
    margin: auto;
}

.row {
    color: green;
}


.similar-games {
    color: green;
    left:auto;
    right:auto;
    bottom:35px;
    padding-bottom: 30px;
}


.page-footer {
    position: relative;
    clear:both;
    margin-bottom: 0;

}

.fixed-bottom {
    background-color: lightgrey;
    text-align: center;
    width: 1090.8px;
    margin: auto;
    padding: auto;
}

.form-control {
    width: 76px;
}

.btn {
    max-width: 100%;
}

@media (min-width: 576px) {
    .form-control {
        display: inline-block;
        width: 76px;
    }
}


@media screen and (max-width: 768px) {
    .container {
      width: 75%; 
    }
}

@media screen and (max-width: 768px) {
    .navbar {
      width: 75%; 
    }
}

@media screen and (max-width: 768px) {
    .fixed-bottom {
      width: 75%; 
    }
}

@media screen and (max-width: 768px) {
    body{font-size: 0.75rem;}
}

@media screen and (max-width: 768px) {
    .form-control {
        font-size: 0.75rem;
        width: 75%;
        height: 75%;
    }
}

@media screen and (max-width: 768px) {
    .btn {
        font-size: 0.75rem;
        width: 75%;
        height: 75%;
    }
}

@media screen and (max-width: 576px) {
    .container {
      width: 56%; 
    }
}

@media screen and (max-width: 576px) {
    .navbar {
      width: 56%; 
    }
}

@media screen and (max-width: 576px) {
    .fixed-bottom {
      width: 56%; 
    }
}

@media screen and (max-width: 576px) {
    body{font-size: 0.56rem;}
}

@media screen and (max-width: 576px) {
    .form-control {
        font-size: 0.56rem;
        width: 56%;
        height: 56%;
    }
}

@media screen and (max-width: 576px) {
    .btn {
        font-size: 0.56rem;
        width: 56%;
        height: 56%;
    }
}